.vscode/**
.vscode-test/**
.gitignore
.eslintrc.json
**/*.map
**/jsconfig.json
**/tsconfig.json
**/.eslintrc.json
node_modules/**/*.md
node_modules/**/*.markdown
node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/*.d.ts
node_modules/**/*.ts
node_modules/.bin/**
node_modules/**/LICENSE*
node_modules/**/CHANGELOG*
node_modules/**/HISTORY*
node_modules/**/.github/**
node_modules/**/.travis*
node_modules/**/.circleci/**
*.vsix
